<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="resume.html">Resume</a>
                </li>
                <li><a href="#what_Is_It">Що таке фронтенд?</a></li>
                <li><a href="#">lorem2</a></li>
                <li><a href="#">Контакти</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>Контакти </h1>
            <br>
            <br>
            <br>
            <p>Мій телефон <a href="tel:380506977826">+380506977826</a> </p>
            <p>Напишіть мені <a href="mailto:irishkajatsenko@gmail.com">irishkajatsenko@gmail.com</a></p>
            <p>Напишіть мені <a href="t.me/irishkajatsenko@gmail.com">IrinaAntonenko</a></p>

            <h2>Напишіть нам</h2>

            <form action="#">

                <fieldset>
                    <legend>Особисті дані</legend>

                    <p><label for="username">Ваше ім'я</label></p>
                    <input id="usernsme" type="text" name="user-name"
                    placeholder="Ваше ім'я" title="Вашеім'я" required>

                    <p><label for="userPhone">Ваше ім'я</label></p>
                    <input id="userPhone" type="email" name="useremail"
                    placeholder="Ваш імейл" title="Ваше імейл">

                </fieldset> 
                <br>
                <br>

                <label><input type="checkbox" name="skills">html</label>
                <label><input type="checkbox" name="skills">css</label>
                <label><input type="checkbox" name="skills">js</label>

                <br>
                <br>
                <br>


                <br>
                <br>
                <br>

                <select name="country" id="country">
                    <option value="uk">Ukraine</option>
                    <option value="usa">USA</option>
                </select>


                <button>Submit</button>


            </form>
       


    </main>
    
</body>
</html>