<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Фронтенд</title>
</head>
<body>
    <ul>
        <li>
            <a href="resume.html">Resume</a>
        </li>
        <li><a href="#what_Is_It">Що таке фронтенд?</a></li>
        <li><a href="#">lorem2</a></li>
    </ul>
    <div>
        <h1>Розробка з боку Front end – що це таке і чим відрізняється від Back end?</h1>  
        <img class="img" id= "img" src="../images/unnamed.jpg" alt="комп'ютер" width="500">  
        
       
        <p> Слово “фронтенд” все частіше можна зустріти не тільки на просторах мережі, але і в бесіді у звичайних дружніх тусовках. Напевно ви неодноразово задавалися питанням про те, хто такий фронтенд-розробник, які його завдання, чим він займається, і що таке фронтенд в принципі. Давайте детально розберемося, що ж означає “фронтенд”, яка його відмінність від “бекенд” і якими навичками необхідно володіти, щоб стати затребуваним фронтенд-розробником.
        </p>    
       <h2 id="what_Is_It">Що таке фронтенд?</h2>
       <p>Frontend – це публічна частина web-додатків (веб-сайтів), з якою користувач може взаємодіяти і контактувати напряму. У Frontend входить відображення функціональних завдань призначеного для користувача інтерфейсу, що виконуються на стороні клієнта, а також обробка запитів користувачів. По суті, фронтенд – це все те, що бачить користувач при відкритті web-сторінки.
       </p>
       <p>
        Компоненти фронтенд розробки:
       </p>
       <ul>
           <li>HTML (HyperText Markup Language) кажучи простими словами – це мова розмітки всіх елементів і документів на сторінці, і їх взаємодія в структурі сторінки.
            </li>
           <li>CSS (Cascading Style Sheets) – це мова характеристики і стилізації зовнішнього вигляду документа. За допомогою CSS-коду браузер розуміє, як саме необхідно відображати елементи. CSS створює шрифти, кольори, визначає розташування блоків сайту, та інше. Також адаптує один і той же документ в різних стилях, виводить передачу на екран або для читання голосом.
          </li>
           <li>JavaScript– мова, створена оживляти веб-сторінки. Завдання JavaScript – відгукуватися на дії користувача, обробляти натискання клавіш, переміщення курсора, кліки мишкою. JavaScript також дає можливість вводити повідомлення, посилати запити на сервер, а також завантажує дані без перезавантаження сторінки, і так далі.
            </li>
       </ul>
       <p>Джерело <a href="https://webref.ru/html/h1">https://webref.ru/html/h1"</a></p>

    </div>
</body>
</html>